@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Recursive:wght@300..1000&display=swap');

:root{
    --primary-color: #0077FF;
}

body{
    background-color: #232830;
    margin: 0;
}

.navbar{
    background-color: white;
    padding: 16px;
    font-family: 'Poppins';

    .logo{
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 24px;
        font-family: 'Poppins';

        span{
            color: var(--primary-color);
        }
    }

    /* a{
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        font-weight: 500;
    } */
    
    .menu-page{
        cursor: pointer;

    }

    nav{
        display: none;
    }

    .container{
        display: flex; 
        place-content: space-between;
        /* justify-content: space-between; */
    }
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: violet;
}

section{
    padding: 80px 32px;
}

section.hero{
    text-align: center;

    .left-col{

        .heading{
            font-family: 'Recursive';
            font-size: 71px;
            line-height: 85.2px;
            font-style: italic;
            font-weight: 400;
            color: #FF7575;
        }

        .sub-heading{
            color: whitesmoke;
            text-transform: uppercase;
            font-family: 'Poppins';
            font-weight: bold;
            font-weight: 400;
            letter-spacing: 4.8px;
            font-size: 29px;
            line-height: 43.5px;
        }

        .first-cta{
            background: var(--primary-color);
            color: whitesmoke;
            text-decoration: none;
            padding: 9.6px 20.8px;
            font-size: 22.4px;
            display: inline-block;
            font-weight: bold;
            border-radius: 80px;
        }

        .watch-video-cta{
            display: block;
            align-items: center;
            margin-top: 16px;
            font-size: 24px;

            img{
                margin-right: 12px;
            }
        }
    }

    .hero-image{
        width: 50%;
        margin-top: 80px;
    }
}

section.first-features-section{

    ul.category-list{
        display: flex;
        flex-direction: row;
        gap: 16px;

    }
    
}

/* section.first-features-section img{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
} */

section.second-features-section{
    background: rgb(84, 78, 78);
    color: whitesmoke;
}

ul.features-list{
    margin: 0;
    padding-left: 1.6px;
    /* display: grid; get back to this */ 

    li{
        font-size: 17.6px;
        margin-bottom: 16px;
        margin-left: 32px;
        position: relative;
    }
    
    li::before{
        content: '';
        left: -32px;
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('images/done-icon.svg');
        background-size: contain;
        margin-right: 8px;
    }
}

section.second-features-section img{
    display: none;
}

section.testimonials-section{
    background: var(--primary-color);
    color: white;
        
    li{
        background: #006BD6;
        text-align: center;
        padding: 32px 16px;
        border-radius: 16px;
        /* margin-bottom: 16px; */
        width: 80%;
        margin: 0 auto 80px auto;

        img{
            width: 80px;
            height: 80px;
            border: 5px solid #006BD6;
            border-radius: 50%;
            margin-top: -72px;
        }
    }
}


.h3{
    font-size: 32px;
}

label{
    display: block;
    font-size: 19.2px;
    margin-bottom: 8px;
}

input, textarea{
    width: 100%;
    padding: 12.8px;
    margin-bottom: 16px;
    border: 1px solid gray;
    border-radius: 4.8px;
    box-sizing: border-box;
}

input[type="submit"]{
    background: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 20.8px;
    text-transform: uppercase;
    border: none;
    border-radius: 80px;
    margin: 80px;
    display: inline-block;
    padding: 12.8px 32px;
    width: unset;
    cursor: pointer;
}

iframe{
    width: 100%;
    height: 300px;
}