body{
    background-color: #232830;
}

.navbar{
    background-color: #232830;

    a{
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
    }
}